<div class="slides">
  @if (slides$ | async; as slides) {
    <ul class="slides__list">
      @for (slide of slides; let i = $index; track i) {
        <li class="slides__slide"
            (click)="selectSlide(slide)"
            [class.active]="slide.questionId === (selectedSlide$ | async)?.questionId">
          <div
            class="slides__content"
            [class.active]="slide.questionId === (selectedSlide$ | async)?.questionId"
          >
            <span class="slides__question">{{slide.questionName}}</span>
            <div class="slides__info">
              <span class="slides__time-limit">{{slide.seconds}}</span>
              @if (slide.img) {
                <img class="slides__square" [src]="slide.img" alt="Uploaded Image" />
              } @else {
                <span class="slides__square-empty" ></span>
              }
            </div>
            <ul class="slides__answers">
              @for (answer of slide.answers; track $index) {
                @if (answer.correct) {
                  <li class="slides__answer" [ngStyle]="{'background-color': setAnswerBackground(answer.order)}"></li>
                }
              }
            </ul>
          </div>
          <div class="slides__slide-actions">
          <span>
              {{slide.order + 1}}
          </span>
            <span (click)="$event.stopPropagation(); duplicateSlide(slide)">
             <svg>
              <use [attr.xlink:href]="'copy' | symbolSprite" ></use>
            </svg>
          </span>

            <span  (click)="$event.stopPropagation(); deleteSlide(i)">
          <svg>
            <use [attr.xlink:href]="'trash' | symbolSprite"></use>
          </svg>
        </span>
          </div>

        </li>
      }
    </ul>
  }

  <div class="slides__add-slide">
    <button  (click)="addSlide()"> Добавить слайд</button>
  </div>
</div>

