.leader-board {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("/src/assets/images/lobby-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00D4B2;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
    max-width: 1060px;
    padding: 20px;
    box-sizing: border-box;
  }

  &__title {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    font-size: 5vw;
    color: #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.39)
  }

  &__table {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
  }

  &__row {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }
  &__next {
    position: absolute;
    right: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
}
