<div class="leader-board">
  <div class="leader-board__container">
    <span class="leader-board__title">
      МОНУМЕНТ СЛАВЫ
    </span>

    <span class="leader-board__next" (click)="nextQuestion.emit()">
      Далее
    </span>

    <div class="leader-board__table">
      @for (player of players; track $index) {
        <div class="leader-board__row">
          <div class="leader-board__row-points">{{player.points}}</div>
          <div class="leader-board__fill"
               [style.width]="readyToFill ? fillWidth(player) : '80px'"
               [style.background-color]="getRandomColor()"
          >
            <div class="leader-board__row-name">{{player.playerName ?? 'тест'}}</div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
