$color-bg-gradient-start: #00d1ff;
$color-bg-gradient-end: #00ced1;

$color-bg-gradient-start-hover: #00bfe0;
$color-bg-gradient-end-hover: #00b8c4;
$color-box-shadow-primary: rgb(37 112 113 / 40%);
$color-box-shadow-secondary: rgb(61 49 131 / 40%);

$color-button-primary: #00CED1;
$color-button-secondary: #6460ff;
$color-button-tertiary: #5A4FCF;

$color-purple-bg: #30316b;
$color-blue-bg: #4c6cee;

$color-text-light: #FFFFFF;
$color-text-dark: #333333;
