<div class="main">
  <div class="main__header">
    <span (click)="goToHome()">Fizzly</span>
    <span (click)="goToQuizList()">К списку квизов</span>
  </div>
  <div class="main__content">
    @for (quiz of quizzes$ | async; track $index) {
      <div class="main__quiz" (click)="goToQuiz(quiz)">
        <div class="main__top-container">
          <img src="assets/images/bg_2.jpeg" alt="bg">
          <span class="main__questions-count">25 вопросов</span>
        </div>
        <div class="main__bottom-container">
          <span>{{quiz.name}}</span>
          <span>{{quiz.owner.username}}</span>
        </div>
        <span class="main__start" (click)="$event.stopPropagation(); startQuiz(quiz)">ЗАПУСТИТЬ</span>
      </div>
    }
  </div>

</div>



<h1>WebSocket Client</h1>

<div class="container">
  <button (click)="connect()">Connect</button>
  <button (click)="disconnect()" [disabled]="!(isConnected$ | async)">Disconnect</button>
</div>

<div class="container">
  <h3>Subscribe to Topic:</h3>
  <input [(ngModel)]="newTopic" placeholder="/topic/your-topic" value="/topic/topic/session">
  <button (click)="subscribe()">Subscribe</button>
</div>

<div class="subscriptions">
  <h3>Active Subscriptions:</h3>
  <div *ngIf="(subscriptions$ | async)?.length; else noSubscriptions">
    <div *ngFor="let topic of subscriptions$ | async" class="subscription-item">
      <span>{{ topic }}</span>
      <button (click)="unsubscribe(topic)">Unsubscribe</button>
    </div>
  </div>
  <ng-template #noSubscriptions>
    <p>No active subscriptions</p>
  </ng-template>
</div>

<div id="messages">
  <div *ngFor="let msg of messages" [class]="'message ' + msg.type">
    {{ msg.content }}
  </div>
</div>
