<div class="create-quiz">
  <div class="create-quiz__header">
    <span (click)="goToHome()">Fizzly</span>
    <span>Save</span>
  </div>
  <div class="create-quiz__content">
    <div class="create-quiz__slides">
      <app-create-quiz-slides></app-create-quiz-slides>
    </div>

    <div class="create-quiz__workflow">
      <app-create-quiz-workflow></app-create-quiz-workflow>
    </div>


    <div class="create-quiz__themes">
      Настройки
    </div>
  </div>

  <div class="create-quiz__actions">
    <span class="create-quiz__action" (click)="createQuiz()">СОЗДАТЬ</span>
  </div>
</div>
