<div class="create-quiz">
  <div class="create-quiz__header">
    <span (click)="goToHome()">Fizzly</span>
    <span>Save</span>
  </div>
  <div class="create-quiz__content">
    <div class="create-quiz__slides">
      <div></div>

      <span>Добавить вопрос</span>

    </div>

    <div class="create-quiz__workflow">
      <span>
        Начините писать ваш вопрос
      </span>

      <div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
      </div>

    </div>


    <div class="create-quiz__themes">
      Темы

    </div>
  </div>

</div>
