@if (isLoading) {
  <app-loader [gameType]="EGameType.BrainRing"></app-loader>
} @else {
  <div class="welcome-screen">
    <app-brain-ring-logo></app-brain-ring-logo>

    <div class="welcome-screen__box">
      <div class="welcome-screen__title">Присоединиться к викторине или создать её!</div>
      <div class="welcome-screen__buttons">
        <button class="welcome-screen__button welcome-screen__button--join" (click)="joinToRoom()">
          Присоединиться
        </button>
        <button class="welcome-screen__button welcome-screen__button--create" (click)="createRoom()">
          Создать
        </button>
      </div>
    </div>
  </div>
}


