<div class="workflow">
  <div class="workflow__title">
    <input
      [ngModel]="(slide$ | async)?.question"
    >
  </div>
  <div class="workflow__source-content">
    <span></span>
  </div>
  <div class="workflow__answers">
    @for (answer of (slide$ | async)?.answers; track $index) {
      <div class="workflow__answer">
        <span>{{answer.order}}</span>
        <span>{{answer.answer}}</span>

        <span
          (click)="setCorrectAnswer(answer)"
          class="workflow__circle" [class.correct]="answer.correct"></span>
      </div>
    }
  </div>
</div>
