<div class="game-window">
    @switch (currentWindow) {
      @case (EWindowsType.QUESTION_WINDOW) {
        @if(currentSlide) {
          <app-game-window-slide
            [slide]="currentSlide"
            (slideAnswers)="setSlideAnswersForAnswerWindow($event)">
          </app-game-window-slide>
        }
      }
      @case (EWindowsType.FINISH_WINDOW) {
        <app-game-finish-page [players]="players"></app-game-finish-page>
      }
      @case (EWindowsType.ANSWER_WINDOW) {
        <app-game-window-answer
          [statistics]="statistics"
          [slide]="slide"
          (nextWindowHandler)="currentWindow = EWindowsType.LEADER_BORDER_WINDOW">
        </app-game-window-answer>
      }
      @case (EWindowsType.LEADER_BORDER_WINDOW) {
        <app-game-window-leader-board [players]="players" (nextQuestion)="nextQuestion()"></app-game-window-leader-board>
      }
    }
  @if (!quizStarted) {
    <app-pre-game-timer [gameType]="EGameType.Quiz" (timerEnd)="nextQuestion()"></app-pre-game-timer>
  }
</div>

