<div class="game-controller" [class.is-game]="isWaiting">
  <app-quiz-logo></app-quiz-logo>

  <div class="game-controller__container" [class.is-game]="isWaiting">
      @if (isWaiting) {
        @if (isNeedStartedTimer) {
          <app-pre-game-timer></app-pre-game-timer>
        } @else {
          <div class="game-controller__loader">
            <span class="game-controller__dot"></span>
            <span class="game-controller__dot"></span>
            <span class="game-controller__dot"></span>
          </div>
        }
      } @else {
        <h2 class="game-controller__answers-title">ОТВЕЧАЙ НА ВОПРОС</h2>
        @if (answers.length) {
          <div class="game-controller__buttons">
            @for (data of answers; track $index) {
              <div class="game-controller__button" (click)="submitAnswer(data.order)">{{data.order}}</div>
            }
          </div>
        }
        <span class="game-controller__timer">{{timeLeft}}</span>
      }
  </div>
</div>
