// Ваши переменные
$primary-color: #b5bbc5;;
$secondary-color: #2a5298;
$error-color: #ff4d4d;
$background-gradient: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
$modal-background: rgb(141 95 95 / 13%);
$modal-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

// Дополнительные переменные для неоновых эффектов
$neon-accent: #00d4ff; // Неоновый акцентный цвет
$text-color: #ffffff; // Белый текст
$input-border: rgba(255, 255, 255, 0.3); // Граница полей ввода
$input-background: rgba(255, 255, 255, 0.1); // Фон полей ввода



$color-primary-light: #f9a825;
$color-primary-dark: #ef6c00;
$color-orange: #e97309;
$color-orange-dark: #c84e00;
$color-orange-darker: #a93f00;
$color-button: #d84315;
$color-button-shadow: #a33b0f;


$color-white: #ffffff;
$color-black: black;
$color-white-soft: #fffde7;
$color-text-dark: #4e2d16;
$color-input-bg: #f8f0cd;
