@import '../styles/quiz-colors';
@import '../styles/quiz-mixins';

:host {
  display: block;
  background: linear-gradient(135deg, #6566e6, #4c6cee);
}

.welcome-page {
  @include main-background;

  @media (max-width: 600px) {
    padding: 10px;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
  }

  &__menu {
    width: 100%;
  }

  &__button {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    color: $color-text-light;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;

    &:hover {
      transform: scale(1.03);
    }

    &--primary {
      @include text-style($size: 28px, $font-weight: 600);
      background: linear-gradient(135deg, $color-bg-gradient-start 0%, $color-bg-gradient-end 100%);
      color: $color-text-light;
      box-shadow: 0 8px 17px 0 $color-box-shadow-primary;
      transition: background 0.3s, box-shadow 0.3s, transform 0.3s;

      @media (max-width: 600px) {
        @include text-style($size: 26px, $font-weight: 600);
      }

      &:hover {
        background: linear-gradient(135deg, $color-bg-gradient-start-hover 0%, $color-bg-gradient-end-hover 100%);
        transform: scale(1.01);
      }
    }

    &--secondary {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      background-color: $color-button-secondary;
      box-shadow: 0 8px 16px 0 $color-box-shadow-secondary;

      @media (max-width: 600px) {
        flex-direction: row;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
      }

    }
  }

  &__actions {
    display: flex;
    gap: 20px;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__icon {
    width: 34px;
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;

    &.list {
      width: 44px;
      height: 34px;
    }
  }

  &__logo {
    @include text-style($size: 74px, $font-weight: 700);
    margin-bottom: 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 500px; // Для создания эффекта 3D
  transform-style: preserve-3d;
  font-size: 74px;

  .logo__letter {
    display: inline-block;
    @include text-style($size: 74px, $font-weight: 700);
    transform-origin: center;

    &:nth-child(1) {
      animation-delay: 0.10s;
      animation: moveLetter3 2s infinite alternate;
    }
    &:nth-child(2) {
      animation-delay: 0.5s;
      animation: moveLetter1 2s infinite alternate;
    }
    &:nth-child(3) {
      animation-delay: 0.1s;
      animation: moveLetter2 2s infinite alternate;
    }
    &:nth-child(4) {
      animation-delay: 0.4s;
      animation: moveLetter4 2s infinite alternate;
    }
  }

  @keyframes moveLetter1 {
    0% {
      transform: rotate(-3deg) translateY(3px);
    }
    100% {
      transform: rotate(3deg) translateY(0px);
    }
  }

  @keyframes moveLetter2 {
    0% {
      transform: rotate(2deg) translateY(0);
    }
    100% {
      transform: rotate(-2deg) translateY(5px);
    }
  }

  @keyframes moveLetter3 {
    0% {
      transform: rotate(-3deg) translateY(1px);
    }
    100% {
      transform: rotate(-10deg) translateY(3px);
    }
  }

  @keyframes moveLetter4 {
    0% {
      transform: rotate(10deg) translateY(3px);
    }
    100% {
      transform: rotate(8deg) translateY(0px);
    }
  }
}
