<div class="game-controller" [class.is-game]="isWaiting">
  <app-brain-ring-logo></app-brain-ring-logo>

  <div class="game-controller__container" [class.is-game]="isWaiting">
    @if (isWaiting) {
      <span class="game-controller__waiting">Ожидание</span>
      <div class="game-controller__loader">
        <span class="game-controller__dot"></span>
        <span class="game-controller__dot"></span>
        <span class="game-controller__dot"></span>
      </div>
    } @else {
      <button class="game-controller__buzz-button" (click)="submitAnswer()">
        ЖМИ
      </button>
    }
  </div>
</div>

@if (isLoading) {
  <app-loader></app-loader>
}
