.game-controller{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../../../assets/images/bg_2.jpeg");
  background-size: 100%;
  background-position-y: -300px;

  &.is-game {
    //align-items: flex-end;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;


    &.is-game {
      width: 100%;
      padding: 0 20px;
    }

    input {
      background-color: rgba(255, 255, 255, 0.22);
      text-align: center;
      color: white;
    }
  }

  &__title {
    font-size: 20px;
  }

  &__go {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81a17f;
    width: 100px;
    padding: 5px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 80vh;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 30px;

    &:nth-child(1) {
      background-color: rgba(228, 112, 112, 0.22);
    }
    &:nth-child(2) {
      background-color: rgba(18, 248, 28, 0.22);
    }
    &:nth-child(3) {
      background-color: rgba(61, 93, 234, 0.22);
    }
    &:nth-child(4) {
      background-color: rgba(239, 231, 88, 0.22);
    }
  }

  &__answers-title {
    margin-bottom: auto;
  }

  &__timer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 40px;
    background-color: #ffffff;
    color: #000000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}
