@import "../styles/quiz-colors";
@import "../styles/quiz-mixins";

.create-quiz {
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9fbfe;
    box-shadow: 0px 1px 12px 0px #00000033;

    span {
      cursor: pointer;
      @include text-style($size: 16px, $color: $color-text-dark);
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    transition: margin-right 0.3s ease-in-out;
    margin-right: 0;

    &.panel-open {
      margin-right: 320px;
    }
  }

  &__slides {
    height: calc(100vh - 44px);
    width: 320px;
    padding: 20px;
  }

  &__themes {
    position: fixed;
    top: 44px;
    right: -300px;
    height: calc(100vh - 44px);
    width: 300px;
    padding: 20px 20px 20px 0;
    transition: right 0.3s ease-in-out;
  }

  &__themes.open {
    right: 0;
  }

  &__toggle-theme-button {
    position: fixed;
    height: 50px;
    top: 50%;
    right: -7px;
    transform: translateY(-50%);
    background-color: #00ced1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
      transform: rotate(180deg);
    }

    &.panel-open {
      right: 295px;
      top: 50%;
      transform: translateY(-50%);

      svg {
        transform: rotate(0);
      }
    }

    &:hover {
      background-color: #00b0ac;
    }
  }

  &__workflow {
    height: calc(100vh - 44px);
    width: 100%;
    padding: 20px;
    overflow: hidden;
  }
  //&__actions {
  //  position: fixed;
  //  bottom: 20px;
  //  left: 50%;
  //  transform: translateX(-50%);
  //  width: auto;
  //  min-width: 500px;
  //  max-width: 90%;
  //  background: white;
  //  border-radius: 16px;
  //  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  //  padding: 12px 24px;
  //  display: flex;
  //  gap: 12px;
  //  align-items: center;
  //  justify-content: center;
  //  z-index: 1000;
  //}

  &__action {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #f0f0f0;
    cursor: pointer;
    transition: background 0.2s;
  }

  &__action:hover {
    background: #e0e0e0;
  }

}

